$arial: arial, sans-serif;
$digital: digital-7;

$base-border: 1px solid;

$base-border-radius: 10px;

$base-font-size: 20px;

$base-padding: 1rem;

$base-margin: 1rem;

// Colours
$red: #D31C21;
$green: #55A647;
$blue: #00f;
$white: #fff;
$black: #000;
$grey: #333;
$silver: silver;
$yellow: rgb(231, 201, 53);
$orange: rgb(237, 183, 36);
$purple: #612B79;
$violet: #181F4D;

$button-glass-color: $white;