.win-indicator {
    width: 100px;
    height: 50px;
    border: $base-border;
    border-color: $highlight-color;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    display: block;
    border-radius: $base-border-radius;
    color: $highlight-color;
    display: none;
}

.win-indicator.left {
    left: 0;
}

.win-indicator.right {
    right: 0;
}

.win-indicator:after {
    content: 'WIN';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
}

.win-indicator.active {
    animation: win-indicator-flash $base-timing infinite;
}

.win-indicator.active:after {
    animation: win-indicator-flash $base-timing infinite;
}

#winCentreLine {
    position: absolute;
    top: 50%;
    left: -20px; // -px has to be equal to REEL_CONTAINER_PADDING
    height: 0px;
    margin-top: -1px;
    border-top: $base-border;
    border-color: $highlight-color;
    opacity: 0.5;
    z-index: 99;
    width: calc(100% + 40px); // px has to be twice the REEL_CONTAINER_PADDING

    &.active {
        animation: border-flash $base-timing infinite;
    }
}

