$arial: arial, sans-serif;
$digital: digital-7;

// Colours
$dark-background: #000;

$highlight-color: rgb(237, 183, 36);
$text-color:  #D31C21;
$button-glass-color: #fff;
$button-text-color: rgb(126, 126, 126);

// $base-border: 1px solid lighten($dark-background, 70%);
$base-border: 1px solid;

$base-border-radius: 10px;

$base-font-size: 20px;

$base-padding: 1rem;

$base-margin: 1rem;


$base-timing: 0.8s;